<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center vh-100 align-items-center">

        <div class="col-12 col-md-4 text-center">
            <img src="/img/unauthorized.png" alt="unauthorized" class="w-75 h-75">
            <h2>Oops! Akses Ditolak</h2>
            <p>Anda tidak memiliki izin untuk mengakses halaman ini. Harap masuk dengan akun yang tepat atau hubungi
                admin jika Anda merasa ini adalah kesalahan.</p>
            <a href="/" class="btn btn-primary">Home</a>
        </div>

    </div>

</div>